html, body{
	height: 100%;
}

#wrap {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

#header {
    height: 53px;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    width: 100%;
}

.input-search {
    width: 200px;
    height: 12px;
    padding: 7px;
    box-sizing: content-box;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACI0lEQVRIie2Uv2sTcRjGP+/lKqZNLUVrp2wq/mhBJxddWnF0SOsVEhpwKEUCgv9A5zgLocGtUq+cQZCMWg/r5FAQWkFXaatEEfxRhFzu+zqkwZL2rqeufZY7eO95Pt/vA/fCoQ6QRA08z0sHoc4IMqlwDugHNgVZVqPVQsFZ/WeA69YuG8xjIBvhU5DKz+9f787OzgZxACsi3AeyCq8Vcq2mfWJwIHNU1BpRpQz8Ai31Hxt8pKqRLey5QbsW3gNZFa0esaTkOE7YbVpc9C5i8Rw4LiqlfP5mJdENglBnOiePCgcoFJw3onoLQEXnfN+3EwEEmdx5vRcV3lE+P1VHWAOGtxqNq4kACucBwqa9Ehf+xyArO88LiQBAH4Ax37YT5av+ABDIJAVsAaTS6VNJACKcaYPYTAYQfQFgGatwULjneUPAdcCEKV4mA4QyD6gId1y3dinKpKoShNynXU296DgfEgHav79UgF6DefbQ9W7sd/LFpdoSMAWgYspR4bDPqqhWqz2ZgUEXZWLnizVUVkTMNiqntV1L3y7L2zCwx4rFXCMRANoVuG7ttorOAcNdYwPUVUzZUuuBwkgcJHaP+L5vb3z6ciWljKqYXsTaCC191el8YeHJSbuntawwIrDeCuzxbkgsIIk8zxsKDMsoo8A700qNTU9PfOzM92zTv5XjOJ/Dpn1NYB04a9nh093z/wYAFIu5RiuwxxFWgdgddqg9+g0TJuLzCuoJngAAAABJRU5ErkJggg==");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 38% center;
    text-indent: 10%;
    font-size: 14px;
}
.input-search:focus {
    background-position: 4% center;
    outline: none;
    }
.input-search::placeholder, .input-search:not(:focus) {
    text-align: center;
    vertical-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #8e8e8e;
}
.input-search:focus::placeholder {
    text-align: start;
}
.input-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center left;
    background-image: url('../img/cancel.png');
  }
  
#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 54px;
    max-width: 935px;
    padding: 0 20px;
}

.logo_box {
    min-width: 40px;
    width: 200px;
    margin-top: 10px;

}

.search_box {
    flex:0 1 auto;
    position: relative;
}



#header .search_box .search {
    position: absolute;
    left: 47%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: gray;
    pointer-events: none;
}



.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 198px;
    align-items: center;
    height: 22px;
}

#main {
    padding-top: 30px;
    display: flex;
    justify-content: center;

}

#main .inner {
    padding-top: 58.2px;
    width: 935px;
    height: 18872.700px;
}



.side_box{
    background-color: #fafafa;
    position: fixed;
    margin-left: 660px;
    top: 88px;
    font-size: 12px;
    line-height: 14px;

}

.side_box .user_profile {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #262626;
    height: auto;
    margin-bottom: 10px;
    margin-top: 18px;
    padding-left: 5px;
    padding-top: 2px;

}

.hidden_menu {
    width: 583px;
    display: flex;
    font-size: 12px;
    border-radius: 3px;
    align-items: center;
    height: 84px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin-bottom: 24px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    background-color: #FFFFFF;

}

.scroll_inner {

    display: flex;
}

.contents {
    max-width: 614px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 60px;
    background: white;
}

.contents .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 582px;
    height: 27px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;

}

.contents .top .user_container {
    display: flex;
}

.contents .top .profile_img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    
}

.contents .img_section img {
    width: 100%;
}   

.contents .likes {
    padding: 5px 16px;
    color: #262626;
}

.m_text {
    font-size: 14px;
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    padding-bottom: 5px;

}

.ko_name {
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8e8e8e;

}

.scroll_inner .user .id {
    padding-left: 8px;

}

.contents .comment_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
}

.contents .comment_container .comment-detail {
    display: flex;
}

.contents .comment_container .comment .nick_name {
    margin-right: 5px;
}

.contents .comment_field {
    min-height: 56px;
    padding: 0 16px;
    position: relative;
    border-top: 1px solid #DBDBDB;
}

.contents .comment_field input {
    width: 100%;
    height: 56px;
    border: none;
    outline: none;
    background: transparent;
}

.side_user .profile_thumb{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    

}

.contents .comment_field .upload_btn {
    color: #0095f6;
    position: absolute;
    right: 20px;
    top: 50%;
    opacity: 0.4;
    transform: translateY(-50%);
}

.timer {
    font-size: 10px;
    letter-spacing: .2px;
    padding: 5px 16px;
}

.recommend .reco_header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-right: 16px;
    margin-top: 12px;

}

.side_user {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 32px;
}

.side_user .id {
    font-weight: 600;
    padding-left: 5px;
    margin-left: -5px;
    padding-bottom: 5px;

}

.more {
    font-weight: 600;
}

.Help_box {
    font-size: 11px;
    line-height: 13px;
    color: #c7c7c7;
    padding-top: 20px;
}

.scroll_inner .user {

    padding: 0 4px;
    width: 72px;
}

.side_box .fllow_box .follow {
    font-weight: 600;
    color: #0095f6;
}

.user_profile .detail {
    width: 201px;
    padding-left: 18px;
}

.detail .time {
    color: #8e8e8e;
    font-weight: 400;
}

.side_user .detail {
    width: 215px;
}

.fllow_box{
    
    padding-top: 17px;

}

.help {
    padding-top: 24px;
    border-bottom-width: 16px;
    width: 293px;
    height: 30px;
    margin-bottom: 16px;
    color: #c7c7c7;
    font-size: 11px;
}

.left_icons{    
    padding-left: 16px;
    padding-top: 8px;
}

.right_icon{
    display: flex;

}

.jum {
    content: '\00B7';
    margin: 0 .25em 0 .25em;
}

.INSTAGRAM_FROM_FACEBOOK {
    color: #c7c7c7;
    font-size: 11px;
}

.user .border {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 66px;
    height: 66px;
}

.user .thumb_Rainbow_box {
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
    height: 64px;
}

.user .thumb_Rainbow_box .thumb_White_box {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: white;
    height: 60px;
}

.user .thumb_Rainbow_box .thumb_White_box .thumb_img{
    width: 56px;
    border-radius: 50%;
}

.side_user_box {
    margin-left: 3px;
}

@media screen and (max-width: 1000px) {
    .side_box {
       display: none;
    }

    .contents_box {
        display: flex;
        flex-direction: column;
        align-items: center;
 

    }
}

@media screen and (max-width: 568px) {
    .input-search {
       display: none;
    }
}

@media screen and (max-width: 568px) {
    #main .inner {
        padding-top: 18.2px;
    }
}


    
